.prodtl-img { border:1px solid #D6D6D6; padding:3px; }
.prodtl-title {
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
	line-height:20px;
	margin-bottom:5px;
	}
.prodtl-price {
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#3f7ea6;
	line-height:24px;
	margin-bottom:5px;
	margin-top:10px;
	font-weight:bold;
}
.prodtl-address {
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	line-height:15px;
	margin-top:5px;
	}
.prodtl-disc {
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	line-height:15px;
	}
.table-striped > thead > tr > th {background: linear-gradient(#f0f7fc, #dae9f3); }
@media ( max-width: 767px){
	.prodtl-img { margin-bottom:10px;}
}